[metadata]

version = 1.1.0


[general]

# ##### NOT USED ######
# Environment type: DEV, PROD. DEV automatically sets: redis.instance_type = VOLATILE, 
# log.level = DEBUG, general.cycle_time = 5 and enables the console handlers
env = PROD

#polling cycle time (in seconds) to discover new ports. 
cycle_time = 10


[redis]

# Accetpted values are: VOLATILE, PERSISTENT, VOLATILE_PERSISTENT
instance_type = VOLATILE_PERSISTENT


# default 'arancino port' configuration status
[port.serial]

# automatically connect a new discovered port
enabled = True

# ##### NOT USED ######
auto_connect = False

# set to true to make it not visible in the main device view in the UI
hide = False

# default baudarate
comm_baudrate = 4000000

# baudrate used for 'touch'
reset_baudrate = 300

# Filter works with the below list of VID:PID. Accepted filter type are: EXCLUDE, ONLY, ALL
# EXCLUDE: excledus the ones in the list.
# ONLY: acceptes only the ones in the list.
# ALL: no filter, accepts all. This is the default filter type.
filter_type=ONLY

# List of VID:PID used to make a filter
filter_list = ["0x04d8:0xecd9", "0x04d8:0xecd9","0x04d8:0xecd9"]


[port.test]
# automatically connect a new discovered port
enabled = True

# set to true to make it not visible in the main device view in the UI
hide = True

# Filter works with the below list of VID:PID. Accepted filter type are: EXCLUDE, ONLY, ALL
# EXCLUDE: excledus the ones in the list.
# ONLY: acceptes only the ones in the list.
# ALL: no filter, accepts all. This is the default filter type.
filter_type=ALL

# List of VID:PID used to make a filter
filter_list = []

# the number of port to create for test purpose
num = 1

# prefix of the id generated for the test port
id_template = TESTPORT


[log]
# Accetpted values are: ERROR, WARNING, INFO, DEBUG
level = INFO
name = Arancino
console = False

log = arancino.log
error = arancino.error.log
stats = arancino.stats.log
