{% if not data['key'].startswith('CPU_STATS:') %}
data:
  - key: "{{data['key']}}"
    values:
      {%- for value in data['values'] %}
      - {{value}}
      {%- endfor %}
    timestamps:
      {%- for value in data['timestamps'] %}
      - {{value}}
      {%- endfor %}
    labels:
      {%- for key, value in data['labels'].items() %}
      - {{key}}: {{value}}
      {%- endfor %}
    tags:
      {%- for key, value in data['tags'].items() %}
      - {{key}}: {{value}}
      {%- endfor %}
{% endif %}