data:
  {%- for item in data %}
  - key: "{{item['key']}}"
    values:
      {%- for value in item['values'] %}
      - {{value[0]}}: {{value[1]}}
      {%- endfor %}
    labels:
      {%- for key, value in item['labels'].items() %}
      - {{key}}: {{value}}
      {%- endfor %}
  {%- endfor %}