[Unit]
Description=Arancino
After=network.target redis-persistent.service redis-volatile.service

[Service]
Type=simple
User=root
Group=root

#ARANCINO ENV VARS
Environment="ARANCINO=/etc/arancino"
Environment="ARANCINOCONF=/etc/arancino/config"
Environment="ARANCINOLOG=/var/log/arancino"
Environment="ARANCINOENV=PROD"
Environment="FLASK_ENV=production"

#ExecStart=/usr/bin/python3 /usr/local/lib/python3.5/dist-packages/arancino/ArancinoStart.py
ExecStart=/usr/local/bin/arancino
Restart=on-failure
RestartSec=15
TimeoutStopSec=10
#on-abort

[Install]
WantedBy=multi-user.target
